:root {
  --slate-300: hsl(212 45% 89% / 1);
  --slate-500: hsl(216 15% 48% / 1);
  --slate-900: hsl(218 44% 22% / 1);

  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-500: 2.5rem;
}

@font-face {
  font-display: swap;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/outfit-v11-latin-regular.woff2");
}
@font-face {
  font-display: swap;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/outfit-v11-latin-700.woff2");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: var(--slate-300);
  height: 100%;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

body {
  align-content: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

main {
  background: #fff;
  border-radius: 20px;
  width: 320px;
  margin-inline: auto;

  margin-bottom: 20px;
}

.wrapper {
  padding: var(--spacing-200);
  padding-bottom: var(--spacing-500);
}

.qr-code {
  border-radius: 10px;
}

.text-content {
  margin-top: var(--spacing-300);
  text-align: center;
  padding-inline: var(--spacing-200);
}

h1 {
  color: var(--slate-900);
  line-height: 1.2;
  font-size: 1.375rem;
  font-weight: 700;
}
p {
  color: var(--slate-500);
  letter-spacing: 0.2px;
  line-height: 1.4;
  font-size: 0.9375rem;
  font-weight: 400;
  padding-top: var(--spacing-200);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* todo - upload on github */
